.new-revamp-main-heading{
    align-items: center;
}

.new-revamp-heading{
    background: linear-gradient(180deg, #5AE9FD 0%, #0A66C2 31.56%, #8B78FF 65.94%, #5AE9FD 100%);
    background-clip: text;
    text-align: center;
}

.eyes-image-container{
    width: 15%;
}

.eyes-image-container img{
    width: 100%;
}

.new-rewamp-description{
    align-self: center;
    text-align: center;
}

.revamp-main-container{
    display: flex;
    flex-direction: column;
    align-items: center; 
    /* justify-content: center;*/
}


 
 
 @media (max-width: 768px) { 
    .revamp-main-container{
        margin-left: 3rem;
        margin-right: 3rem;
    }
  }

   
 @media (max-width: 400px) { 
    .revamp-main-container{
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
  }
  
 
 

/* .alphabet-ellipse{
    width: 5%;
    height: auto;
    background: #FFFFFF;
    border: 4px solid #007AF6;
    box-sizing: border-box;
    border-radius: 50%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
}

.new-rewamp-description{
    margin-left: 0.2rem;
    justify-self: flex-start;
}

.new-rewamp-block-container{
    color: rgba(255, 255, 255, 0.7);
}

.new-rewamp-image-container{
    width: 60%;
}

.new-rewamp-image-container img{
    width: 100%;
}

.new-rewamp-block-text-container{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.new-rewamp-block-text-container :nth-child(1){
    margin-top: 10%;

}

.new-rewamp-block-text-container :nth-child(2){
    margin-top: 30%;
}


.new-rewamp-image-container-1{
    width: 70%;
}

.new-rewamp-block-container-1 img{
    width: 100%;
}
.comprehensive-text{
    margin-top: 10%;
 
}



.new-rewamp-description-3{
    margin-left: 3%;
} */