.glass-effect {
  /* From https://css.glass */
  background: rgba(144, 144, 244, 0.19);

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.9px);
  -webkit-backdrop-filter: blur(6.9px);
}

#projects-dropdown{
  /* background: orange; */
	visibility: hidden;
  opacity: 0;
  min-width: 5rem;
	position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
	left: 0;
  display: none;
}

.dropdown-icon-container{
  /* margin-left: -10%; */
}

.dropdown-icon-container img{
  width: 17px
}

