.glass-effect {
  /* From https://css.glass */
  background: rgba(144, 144, 244, 0.19);

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.9px);
  -webkit-backdrop-filter: blur(6.9px);
}
