.details-subtitle-gradient{
    background: linear-gradient(90deg, #FF0E0E 25%, #573EF3 51.3%, #FF4AF8 100%);
    background-clip: text;
}

.details-subtitle-gradient-1 {
    background: linear-gradient(90deg, #FF0E0E 13%, #573EF3 51.3%, #FF4AF8 100%);
    background-clip: text;
}

.mobile-podcast-container{
    /* border: 1px solid red; */
    display: flex;
    align-items: center; 
    justify-content: center;
}

 @media (max-width: 768px) { 
    .mobile-podcast-container{
        margin-left: 3rem;
        margin-right: 3rem;
    }
  }

   
 @media (max-width: 400px) { 
    .mobile-podcast-container{
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
  }


/* 
.motivation-objective-div{
    display: flex;
    flex-direction: column;
    margin-right: 2rem;  
    
}

.motivation-div,.objective-div,.outcomes-div{
    display: flex;
    flex-direction: column;

} */



/* .motivation-div div img,.objective-div div img,.outcomes-div div img {
    width: 13%;
    margin-left: 0.5rem;
}

.motivation-content,.objective-content,.outcomes-content{
    white-space: pre;
}

.outcomes-div div img{
    height: 80%;
} */



/* 
.phone-image{
    border: 2px solid red; 
}


 @media (max-width: 650px) { 
    .phone{
        display: flex;
        align-items: center;
        
    }
    .phone img{
        width: 100%;
    }
   
 } */


