.statistics-wrapper {
    width: 93%;
    padding: 1rem;
    position: relative;
    background: linear-gradient(to bottom, #0587F7 , #8247E5);
    padding: 3px;
    border-radius: 50px;
    display: flex;
  }

.statistics-card{
    color: red;
    border-radius: 50px;
    background: #F5F5F7;
}

@media (max-width: 390px){
  .statistics-wrapper{
    width: 120% !important;
  }
}

@media (max-width: 360px){
  .statistics-wrapper{
    width: 140% !important;
  }
}