.border-wrapper {
    width: auto;
    padding: 1rem;
    position: relative;
    background: linear-gradient(to bottom, red, purple);
    padding: 3px;
    border-radius: 50px;
    display: flex;
  }

.ieee-points-card{
    background:  #000000;
    color: white;
    border-radius: 50px;
    padding-top: 5rem;
    padding-bottom: 3.5rem;
}

.motivation-div-iee{
  /* border: 1px solid red; */
}